<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <!--<property name="hibernate.connection.url">jdbc:sqlserver://server_ccpa:1433;databaseName=Caja</property>-->
        <property name="hibernate.connection.url">jdbc:sqlserver://192.168.1.67:1433;databaseName=Caja</property>
        <!--<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=Caja</property>-->
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">4dm1n1str4c10nGOB90570</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping resource="caja/mapeo/xml/TipoDocSerie.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Usuario.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/UbigeoLocalidad.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/DocPagoAnuladoDetalle.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ReincorporacionDocumentoPago.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Alumnos.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ColegiadosExport.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/CcctacteExport.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Cobrador.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Financiamiento.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/CongresoParticipantes.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Congreso.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ConstanciaHabilitacion.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/UbigeoDistrito.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Deuda.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/CcmovdetExport.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/AnioMesConcepto.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/FinanciamientoDocumentoPago.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ConceptoPagoDetalle.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/DocPagoAnulado.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/TipoDocIdentidad.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/DocumentoPagoDet.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Reincorporacion.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/CcsociedExport.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/CuentaCorriente.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/CierreDiario.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/GastoDetalle.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/PagoDeMas.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Cliente.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Cuotas.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/CcmovcabExport.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Serie.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ReinhabiExport.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ConceptoGastoDetalle.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/CcfinanExport.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/TipoDocPago.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/UbigeoDepartamento.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/AnioMes.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/CcobrzasExport.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/UbigeoProvincia.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/DocumentoPago.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/CongresoConcepto.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Gastos.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/EstructuraPagoCajaArequipa.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Bbva.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/BbvaContador.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/BbvaContadorDetalle.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Scotiabank.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ScotiabankContador.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ScotiabankContadorDetalle.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/BbvaRetorno.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/BbvaRetornoDetalle.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/BbvaRetornoDetalleDocumento.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ScotiabankRetorno.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ScotiabankRetornoDetalle.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ScotiabankRetornoDetalleDocumento.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/TipoTributo.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/TipoNota.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Nota.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/NotaDetalle.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/TipoAfectacion.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ClienteCertificado.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Operacion.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Emailing.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Actividad.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/AsignacionEvento.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Evento.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/EventoAsignacionEventoParticipante.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/EventoConceptoPago.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Expositor.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Inversion.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Metodologia.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ModalidadPago.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Objetivos.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Participante.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Periodo.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/TipoEvento.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/TipoParticipante.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Curriculum.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ResumenDiario.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ResumenDiarioDetalle.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ValeAcademico.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ValeAcademicoConsumo.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ValeAcademicoConsumoParticipante.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ClienteDerechoHabiente.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/CodigoBienServicioDetraccion.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/CodigoMedioPago.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ClienteAuditorIndependiente.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ClienteComitePerito.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ClienteEstudioContable.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ClienteEstudioContableEspecialidad.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/CurriculumTablaEspecialidades.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ClienteSociedadMiembro.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/ClienteSociedadVigencia.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/FichaDatos.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/FichaComite.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/FichaDeporte.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/FichaInstitucion.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Deporte.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Universidad.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/Banco.hbm.xml"/>
        <mapping resource="caja/mapeo/xml/BancoMedioPago.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
